@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --primaryLightColor: rgb(174, 210, 255);
    --secondaryLightColor: rgb(228, 241, 255);
    --primaryDarkColor: rgb(0, 2, 93);/* rgb(148, 0, 255) */
    --secondaryDarkColor: rgb(0, 4, 207);/* rgb(39, 0, 93) */
    --terciaryColor: rgb(227, 246, 255);
}

body{
    background: linear-gradient(to bottom, var(--primaryLightColor), var(--secondaryLightColor));
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

main p{
    text-align: justify;
    hyphens: auto;
}

a, a:visited{
    color: black;
}

.darkMode{
    background: linear-gradient(to bottom, var(--primaryDarkColor), var(--secondaryDarkColor));
}

.btnGlobal{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: var(--secondaryDarkColor);
    color: white;
    transition: 0.1s ease linear;
}

.btnGlobal:hover{
    background: linear-gradient(to top, var(--primaryDarkColor), var(--secondaryDarkColor));
}

.homePage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homePage .searchBox{
    display: flex;
    align-items: center;
    position: relative;
}

.homePage .searchBox input{
    padding: 10px;
    width: 80vw;
    max-width: 350px;
    height: 35px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.173);
}

.homePage .searchBox .searchIcon{
    font-size: 25px;
    border-left: 1px solid lightgray;
    padding-left: 5px;
    right: 10px;
    position: absolute;
}

.homePage .productList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 30px;
}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 350px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
}

.Card img{
    width: 150px;
}

.Card span{
    width: 90%;
    text-align: center;
}

.Card:hover{
    transform: scale(1.1);
}

.productDetailPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.productDetailPage .productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.productDetailPage .productInfo .productDescription{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

.productDetailPage .productInfo .productDescription .actionBuy{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.productDetailPage .productInfo .productDescription img{
    width: 200px;
}

.productDetailPage p{
    white-space: pre-wrap;
    max-width: 90%;
}

.productDetailPage .QtyManager{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 170px;
}

.productDetailPage .QtyManager .ProductQty{
    display: flex;
    align-items: center;
    gap: 10px;
}

.productDetailPage .QtyManager .ProductQty button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.contactPage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    width: 90vw;
    min-height: 80vh;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.contactPage .txtInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.contactForm .contactInput{
    width: 100%;
    max-width: 350px;
}

.contactPage span{
    color: red;
}

.contactForm .facesIcon{
    font-size: 35px;
    cursor: pointer;
}

.contactForm .facesIcon .sad, .sadh:hover{
    color: red;
}

.contactForm .facesIcon .neutral, .neutralh:hover{
    color: grey;
}

.contactForm .facesIcon .happy, .happyh:hover{
    color: green
}

#txtMessage{
    width: 100%;
    max-width: 350px;
    height: 150px;
    resize: none;
}

.contactForm .btnDisabled{
    padding: 10px;
    cursor:not-allowed;
    border: none;
    border-radius: 5px;
    background: darkgray;
    color: lightgray;
}

.CartInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90vw;
    min-height: 80vh;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: var(--terciaryColor);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.CartInfo .ProductListCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    /* min-width: 50%; */
    min-height: 250px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.CartInfo .ProductListCard .ProductImg{
    display: flex;
    align-items: center;
}

.CartInfo .ProductListCard .ProductImg img{
    max-width: 150px;
}

.CartInfo .ProductListCard .ProductInCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 250px;
}

.CartInfo .ProductListCard .ProductInCart h3{
    height: 60px;
    text-align: center;
}

.CartInfo .ProductListCard .ProductInCart .btnTash{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    background-color: darkred;
    border-radius: 5px;
    transition: 0.2s ease;
}

.CartInfo .ProductListCard .btnTash:hover{
    font-size: 18px;
}