header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0px 5vw;
    margin-bottom: 20px;
    height: 80px;
}

header .logoHeader{
    font-size: 50px;
    animation: rainbow 1s linear infinite;
}

@keyframes rainbow{
    0%, 100%{
        color: var(--primaryDarkColor);
    }
    50%{
        color: var(--secondaryDarkColor);
    }
}

header .iconsBox{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .iconsBox .iconStyle{
    font-size: 25px;
}

header .iconMode{
    display: none;
}